body {
  font-family: "Helvetica", "sans-serif";
  font-weight: bold;
  /* Softer low-contrast background (blue-grey) that's easier on the eyes than near-white */
  background-color: #e3e7ef; /* alternative options to try: #e8e5dc (warm), #dde3e9 (cool) */
  color: #000;
  white-space: nowrap;
  margin: 0;
}

h1, h2 {
  text-align: center;
  line-height: 1.1em;
}

a, em, b {
  color: #C50;
  font-style: normal;
}

a {
  border-bottom: .1em dotted;
  text-decoration: none;
}

.fullscreen-image {
  display: block;
  margin: 0 auto;
  height: 100%;
}
